*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.cont1 {
    padding: 15px;
    background-color: #610DFA;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}

.cont1 h1{
     
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.418);
}

.p1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 3%;
    font-weight: bold;    
}



/* ======================================== */



a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline ;
}

h3 {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.d1 {
    text-align: center;
    font-weight: bold;
    width: 25em;  
    word-wrap: break-word; 
    margin: auto;
    padding: 2%;
}