*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{ 
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
