*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

h1{ 
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
}


.RoadMap {
    display: flex;
    margin-right:-28% ;
    margin-left: 5%;
    margin-top: 2%;
}   

img {
    height: 100%;
    width: 70%;

}

/* ======================================== */

.D {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
    font-weight: bold;
    font-size: 15px;

    margin-top: 2%;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline ;
}

.p {
    margin: 3%;
}

h3 {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.d1 {
    text-align: left;
    font-weight: bold;
}